* {
    text-decoration: none; 
    margin: 0; padding: 0; 
    box-sizing: border-box;
    
}

.main { 
    /* margin-top: 0 ;
    margin-bottom: 0; */
    border-color: goldenrod;
    border-style: dashed;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 2;

    
}

.navbar {
    background: rgb(30, 30, 42); font-family:'Calibri'; padding-right: 15px; padding-left: 15px ; margin-top: 0 ; padding-top: 0 ;
    
    border-color: goldenrod;
    border-style: dashed;
    border-width: 1px;
}

.navdiv {
    display: flex; align-items: center; justify-content: space-between; margin-top: 0 ; padding-top: 0 ;
    
    border-color: goldenrod;
    border-style: dashed;
    border-width: 1px;
}

.section-page-1 {
    border-color: goldenrod;
    border-style: dashed;
    border-width: 2px;

    display: flex;  
    justify-content: flex-end;
    
    
    
    

    flex: 1;
    

}

.intro-text { 
    border-color: goldenrod;
    border-style: dashed;
    border-width: 2px;

    display: flex; 
    flex-wrap: wrap;

    
}

.home-image {
   
   height: 400px;
    
    

    border-color: goldenrod;
    border-style: dashed;
    border-width: 2px;
}

.logo a {
    font-size: 35px; font-weight: 600px; color: whitesmoke; margin-top: 0 ; padding-top: 0;
}

li { 
    list-style: none; display: inline-block;
}

li a { 
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}

.footer {
    display: flex;
    
    /* position: fixed; */
    /* left: 0 ; */
    /* bottom: 0; */
    width: 100%;
    background-color: white;
    color: black;
    text-align: right;

    border-color: goldenrod;
    border-style: dashed;
    border-width: 2px;
    
}

.foot_text {
    float: right;
    margin-left: 10px;
}

.copyright {
    display: flex;
    
    
}

